@model SaveOurSpecies.Models.Adoption

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Adoption Information</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal.CommonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.CommonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patron.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patron.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
